<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="createForm" class="form-horizontal" (ngSubmit)="save()">
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Compañía</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown [options]="companias" optionLabel="text" formControlName="cia_nid" [filter]="true" filterBy="text" [virtualScroll]="companias.length > 5" [virtualScrollItemSize]="38" [class.ng-invalid]="(cia_nid?.invalid && cia_nid?.touched)" [class.ng-dirty]="(cia_nid?.invalid && cia_nid?.touched)" [class.ng-valid]="(cia_nid?.valid && (cia_nid?.touched || cia_nid?.dirty))"></p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Código</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="sucu_vcodigo" type="text" style="text-transform:uppercase;" required [class.ng-invalid]="(sucu_vcodigo?.invalid && sucu_vcodigo?.touched)" [class.ng-dirty]="(sucu_vcodigo?.invalid && sucu_vcodigo?.touched)" [class.ng-valid]="(sucu_vcodigo?.valid && (sucu_vcodigo?.touched || sucu_vcodigo?.dirty))" />
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Nombre</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="sucu_vnombre" type="text" style="text-transform:uppercase;" required [class.ng-invalid]="(sucu_vnombre?.invalid && sucu_vnombre?.touched)" [class.ng-dirty]="(sucu_vnombre?.invalid && sucu_vnombre?.touched)" [class.ng-valid]="(sucu_vnombre?.valid && (sucu_vnombre?.touched || sucu_vnombre?.dirty))" />
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Dirección</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="sucu_vdireccion" type="text" style="text-transform:uppercase;" required [class.ng-invalid]="(sucu_vdireccion?.invalid && sucu_vdireccion?.touched)" [class.ng-dirty]="(sucu_vdireccion?.invalid && sucu_vdireccion?.touched)" [class.ng-valid]="(sucu_vdireccion?.valid && (sucu_vdireccion?.touched || sucu_vdireccion?.dirty))" />
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Teléfono</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="sucu_vtelefono" type="number" [class.ng-invalid]="(sucu_vtelefono?.invalid && sucu_vtelefono?.touched)" [class.ng-dirty]="(sucu_vtelefono?.invalid && sucu_vtelefono?.touched)" [class.ng-valid]="(sucu_vtelefono?.valid && (sucu_vtelefono?.touched || sucu_vtelefono?.dirty))" />
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Correo electrónico</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="sucu_vcorreo" type="email" style="text-transform:lowercase;" [class.ng-invalid]="(sucu_vcorreo?.invalid && sucu_vcorreo?.touched)" [class.ng-dirty]="(sucu_vcorreo?.invalid && sucu_vcorreo?.touched)" [class.ng-valid]="(sucu_vcorreo?.valid && (sucu_vcorreo?.touched || sucu_vcorreo?.dirty))" />
                    </div>
                </div>
                <hr>
                <div class="field grid">
                    <div class="col-5">
                        <span class="p-buttonset">
                            <button [disabled]="!createForm.valid" [loading]="guardando" pButton pRipple [label]="sucursal && sucursal.sucu_nid ? 'Editar' : 'Guardar' " icon="pi pi-save" class="p-button-success mr-1 btn-sm" type="submit"></button>
                            <button pButton pRipple label="Limpiar" icon="pi pi-trash" class="p-button-danger btn-sm" type="button" (click)="limpiarForm()"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>