<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="createForm" class="form-horizontal" (ngSubmit)="save()">
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Nombre</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="modu_vnombre" type="text" style="text-transform:uppercase;" required [class.ng-invalid]="(modu_vnombre?.invalid && modu_vnombre?.touched)" [class.ng-dirty]="(modu_vnombre?.invalid && modu_vnombre?.touched)" [class.ng-valid]="(modu_vnombre?.valid && (modu_vnombre?.touched || modu_vnombre?.dirty))" />
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text-900">Descripción</label>
                    <div class="col-12 md:col-10">
                        <input pInputText formControlName="modu_vdescripcion" type="text" style="text-transform:uppercase;" required [class.ng-invalid]="(modu_vdescripcion?.invalid && modu_vdescripcion?.touched)" [class.ng-dirty]="(modu_vdescripcion?.invalid && modu_vdescripcion?.touched)" [class.ng-valid]="(modu_vdescripcion?.valid && (modu_vdescripcion?.touched || modu_vdescripcion?.dirty))" />
                    </div>
                </div>
                <hr>
                <div class="field grid">
                    <div class="col-5">
                        <span class="p-buttonset">
                            <button [disabled]="!createForm.valid" [loading]="guardando" pButton pRipple [label]="modulo && modulo.modu_nid ? 'Editar' : 'Guardar' " icon="pi pi-save" class="p-button-success mr-1 btn-sm" type="submit"></button>
                            <button pButton pRipple label="Limpiar" icon="pi pi-trash" class="p-button-danger btn-sm" type="button" (click)="limpiarForm()"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>