<div>
    <div class="layout-topbar">
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="logo">
            <span>MY ADMINHN</span>
        </a>
        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        
        <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
            <h5 class="mr-3 mt-2">Proyectos</h5>
            <div class="flex">
                <p-dropdown  class="dropdown-custom" [options]="proyectos" optionLabel="text" filterBy="text" (onChange)="setProyecto($event.value);" [virtualScroll]="proyectos.length > 5" [virtualScrollItemSize]="38"></p-dropdown>
            </div>
            <button class="p-link layout-topbar-button" [routerLink]="'/login'">
                <i class="pi pi-power-off"></i>
                <span>Log out</span>
            </button>
        </div>
    </div>
    <div class="w-screen h-screen">
        <div class="w-full h-full">
            <div class="col-12">
                <div class="map-container" style="height: 96vh;">
                    <div class="map-wrapper" style="height: 100%;">
                        <google-map #googleMap
                            height="100%"
                            width="100%"
                            [zoom]="17"
                            [center]="center"
                            [options]="options">
                            <map-info-window [options]="{ position: infoWindowPosition }">
                                <p style="color: black;" [innerHTML]="infoContent"></p>
                            </map-info-window>
                        </google-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
